

<div  style="margin-top: 30px;">
  <form ng-submit="addEvent()"style="margin-top:30px;">
    <h3>Create a new Event</h3>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Title" ng-model="newEvent.title" required="true" ></input>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Location"  ng-model="newEvent.location"  required="true"</input>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Start Date and Time" ng-model="newEvent.startTime" required="true"></input>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Finish" ng-model="newEvent.endTime" required="true"></input>
    </div>
    <div class="form-group">
      <textarea type="text" class="form-control" placeholder="Information" ng-model="newEvent.info" required="true"></textarea>
    </div>

    <div class="form-group">
      <input type="hidden" class="form-control" placeholder="admin" ng-model="newEvent.admin"></input>
    </div>

    <hr>

    <div class="form-group">
     <label class="radio-inline">
      <input type="radio" ng-model="newEvent.iconPicked" value="photo-camera.png">
      <img src="/data/icons/photo-camera.png">
    </label>
    <label class="radio-inline">
      <input type="radio" ng-model="newEvent.iconPicked" value="fireworks.png">
      <img src="/data/icons/fireworks.png">
    </label>
    <label class="radio-inline">
      <input type="radio" ng-model="newEvent.iconPicked" value="beer.png">
      <img src="/data/icons/beer.png">
    </label>

    <label class="radio-inline">
      <input type="radio" ng-model="newEvent.iconPicked" value="floating-balloons.png">
      <img src="/data/icons/floating-balloons.png">
    </label>
    <label class="radio-inline">
      <input type="radio" ng-model="newEvent.iconPicked" value="gift.png">
      <img src="/data/icons/gift.png">
    </label>
    <label class="radio-inline">
      <input type="radio" ng-model="newEvent.iconPicked" value="karaoke.png">
      <img src="/data/icons/karaoke.png">
    </label>
    <label class="radio-inline">
      <input type="radio" ng-model="newEvent.iconPicked" value="rings.png">
      <img src="/data/icons/rings.png">
    </label>

    <label class="radio-inline">
      <input type="radio" ng-model="newEvent.iconPicked" value="dj.png">
      <img src="/data/icons/dj.png">
    </label>
    <label class="radio-inline">
      <input type="radio" ng-model="newEvent.iconPicked" value="stage.png">
      <img src="/data/icons/stage.png">
    </label>
    <label class="radio-inline">
      <input type="radio" ng-model="newEvent.iconPicked" value="toast.png">
      <img src="/data/icons/toast.png">
    </label>
    <label class="radio-inline">
      <input type="radio" ng-model="newEvent.iconPicked" value="wedding-rings.png">
      <img src="/data/icons/wedding-rings.png">
    </label>
  </div>

  <button type="submit" class="btn btn-success">Create Event</button>
</form>
</div>