<!-- <div class="container" >
  <div class="col-md-6 col-md-offset-3" style="text-align: center;">
    <img src="data/icons/DPB.png" height="300px">
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3" style="text-align: center;">
      <img src="data/icons/DPB.png" height="300px">
    </div>
    <div class="col-md-6 col-md-offset-3" style="text-align: center">
     <div class="panel panel-success">
      <div class="panel-heading">
        <div class="panel-title"> <h2> Login </h2>
        </div>
      </div>

      <div class="panel-body">
       <form  ng-submit="login()" style="margin-top:30px;">


         <br> 
         <input type="text" class="form-control" placeholder="Email" ng-model="userDetails.email" required="true"></input>

         <br>
         <input type="password" class="form-control" placeholder="Password" ng-model="userDetails.password" required="true"></input>

         <br> <button class="btn btn-lg btn-success btn-block" type="submit ">Sign in</button>
       </form>
       <br> <a class="btn btn-lg btn-success btn-block" role="button" href="#/signup">or sign up</a>
     </div>
   </div>
 </div>
</div>
</div>

-->


<div class="container-fluid">
  <br>
  <br>
  <br>
  <div class="row">
  <div class="col-md-6" style="text-align: center;">
     <div > <img src="data/icons/DPB.png" height="300px" > </div><br>
     <h2> Welcome to <br> Digital Photo Book</h2>
     Please login to enjoy the benfits of Digital Photo book
   </div>
   <div class="col-md-6">
     <div class="panel panel-success">
      <div class="panel-heading">
        <div class="panel-title" style="text-align: center;"> <h2> Login </h2>
        </div>
      </div>

      <div class="panel-body">
       <form  ng-submit="login()" style="margin-top:30px;">


         <br> 
         <input type="text" class="form-control" placeholder="Email" ng-model="userDetails.email" required="true"></input>

         <br>
         <input type="password" class="form-control" placeholder="Password" ng-model="userDetails.password" required="true"></input>

         <br> <button class="btn btn-lg btn-success btn-block" type="submit ">Sign in</button>
       </form>
       <br> <a class="btn btn-lg btn-success btn-block" role="button" href="#/signup">or sign up</a>
     </div>
   </div>
 </div>
</div>
</div>