<link href="../styles/pictures-custom.css" rel="stylesheet" type="text/css">
      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">

          <div class="jumbotron">
            <h1>Welcome! To Photo Application!</h2>
            <p>A Digital Photo Book, for any occasion! {{loggedInUser.name}}</p>
          </div>
          <div class="row">
            
<!-- 
            <div class="col-xs-6 col-lg-4" ng-repeat="post in posts | orderBy:orderProp | limitTo:3">
              <div class="panel panel-success">
            <div class="panel-heading">
              <h1 class="panel-title" >{{post.title}}</h1>
            </div>
            <div class="panel-body">
           <p>{{post.body}} </p>
              <p><a class="btn btn-default" href="#/post/{{post._id}}" role="button">View details &raquo;</a></p>
            </div>
          </div>
          </div>
        </div>
         <div class="row">
            

            <div class="col-xs-6 col-lg-4" ng-repeat="picture in pictures | orderBy:orderProp | limitTo:3">
              <div class="panel panel-success">
            <div class="panel-heading">
              <h1 class="panel-title" >{{picture.title}}</h1>
            </div>
            <div class="panel-body">
           <p><a href="/{{picture.link}}"><img class='thumb' ng-src="{{picture.link}}"></a></p>
            </div>
          </div>
          </div>
        </div>
 -->


