<link href="../styles/pictures-custom.css" rel="stylesheet" type="text/css">
      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-12">

          <div class="jumbotron" style="text-align: center;">
            <h1>Welcome! To Digital Photo Book!</h2>
            <div>
            <p>A place to store your event photo albums!</p>
            <p>Click <a href="#/events">here</a> to view up and coming events!</p>
            <p>Click <a href="#/createEvent">here</a> to create a new event!</p>
            </div>
          </div>
          <div class="row">
            



<div>




