<div class="col-md-8 col-md-offset-2">
  <div class="page-header">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h1 class="panel-title"> 
        {{picture.upvotes}} - {{picture.title}}  by {{picture.author}}
        </h1>
      </div>
      <div class="panel-body">
           <img class="thumb" ng-src="{{picture.link}}">
      </div>
    </div>
  </div>
  

  <div class="panel panel-primary">
      <div class="panel-heading">
        <h1 class="panel-title"> 
         Comments
        </h1>
      </div>
      <div class="panel-body">
           <div ng-repeat="comment in picture.comments | orderBy:'+upvotes'">
            <div class="panel panel-success">
      <div class="panel-heading">
        <h1 class="panel-title"> 
   <Strong> by {{comment.author}}</Strong></h1>
   </div>
   
   <div class="panel-body"> <span style="margin-left:10px;">
      {{comment.body}}
    </span><br>

  </div>

      </div>
   
    </div>
    </div>
    </div>

  <div class="panel panel-success">
      <div class="panel-heading">
        <h1 class="panel-title"> 
          Add a new comment {{loggedInUser.name}}
        </h1>
      </div>
      <div class="panel-body">
  <form ng-submit="addComment()" style="margin-top:30px;">
  <div class="form-group">
    <textarea type="text"  class="form-control"   placeholder="Comment"
    ng-model="newComment.body"></textarea>
  </div>
  <div class="form-group">
    <input type="text box" class="form-control" placeholder="Author" ng-model="newComment.author" ng-show='loggedInUser == null'></input>
  </div>
  <button type="submit" class="btn btn-primary">Post</button>
</form>