

<div class="container-fluid">
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-md-6" style="text-align: center;">
     <div > <img src="data/icons/DPB.png" height="300px" > </div><br>
     <h2> Welcome to <br> Digital Photo Book</h2>
     Please sign up to enjoy the benfits of Digital Photo book
   </div>
   <div class="col-md-6">
     <div class="panel panel-success">
      <div class="panel-heading">
        <div class="panel-title" style="text-align: center;"> <h2>Please Sign Up</h2>
        </div>
      </div>
      <div class="panel-body">
        <form ng-submit="register()" style="margin-top:30px;">
         <div class="form-group">
           <input type="text" class="form-control" placeholder="Full Name" ng-model="newAccount.name" required="true"></input>
         </div>
         <div class="form-group">
           <input type="text" class="form-control" placeholder="Email@email.com" ng-model="newAccount.email" required="true"></input>
         </div>
         <div class="form-group">
          <input type="password" class="form-control" placeholder="Password" ng-model="newAccount.password" required="true"></input>
        </div>
        <button class="btn btn-lg btn-success btn-block" type="submit" >Register</button>
      </form>
      <br> <a class="btn btn-lg btn-success btn-block" role="button" href="#/login">or go to Login</a>
    </div>
  </div>
</div>
</div>
</div>